
.body{
    background-color: #540863;
}

.subtitulosBruma{
    background-color: #FFD3D5;
}
.idea{
    background-color:   #FFD3D5 ;
    text-align: center;
    font-size: 50px;
}
.infodegranimportancia {    
    width: 100%;
    text-align: center;
    background-color: #FFD3D5
}
.insert {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pokemon {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containerheader {
    width: 100%;
    text-align: center;
    background-color: #92487A;
    color: white;
    padding: 10px 0;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding: 0;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
}
.column {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.profile {
	width: 100%;
}
.intro .column p {
	width: 90%;
	text-align: center;
	padding-left: 0px;
}


@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
}
.text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .column p {
	width: 80%;
}
